html{
  color:#000; background:#FFF;
}
body {
  font-family: Georgia; color: #232;
}
.mydoc{
  border: solid 1px; margin: 10px; padding: 10px;
}
.mycams{
  border: solid 1px; margin: 10px; padding: 10px;
}
.buttons{
  border: solid 1px; margin: 10px; padding: 10px;
}
#video1{
  width: 300px; height: 200px;
}

#video2{
  width: 300px; height: 200px;
}

#video3{
  width: 300px; height: 200px;
}
